---
BasedOnStyle: Chromium
BreakBeforeBraces: Stroustrup
Language: Cpp
SortIncludes: 'true'
Standard: Cpp11
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: 'false'
...
